@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --btn-primary: #058b94;
  --btn-primary-hover: #035d63;
  --btn-secondary-hover: #e6fdfe;
  --btn-disabled: #808080;
  --btn-secondary: #fff;
  --text-inactive: #808080;
  --text-active: #000;
  --border: #e6e6e6;
  --card-dark: #058b94;
  --card-light: #e6fdfe;
  --scrollbar-bg: #06b9c6;
  --card-dark-hover: #035d63;
  --card-light-hover: #cefafd;
  --light-grid-background: #f7feff;
  --dashboard-icon-color: #058b94;
}

.red_log {
  outline: 2px solid crimson;
}

.blue_log {
  outline: 2px solid blue;
}

.green_log {
  outline: 2px solid green;
}

body {
  font-family: "Mukta", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  min-height: 100vh;
  width: 100%;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--card-light);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--btn-primary);
    border-radius: 2px;
  }
}

.v-field__field {
  border: 1.6px solid var(--border);
  border-radius: 6px;
  padding-left: 0.8em;
}

.v-field__input {
  font-size: large;
  padding: 0 !important;
}

.v-field--active {
  border-radius: 6px !important;

  .v-field__field {
    border: 2px solid var(--btn-primary);
  }
}

.v-field--variant-solo {
  box-shadow: none !important;

  --v-input-control-height: 50px !important;
}

.v-expansion-panel__shadow {
  box-shadow: none !important;
}

.v-expansion-panel-title--active > .v-expansion-panel-title__overlay {
  display: none !important;
}

.v-expansion-panel {
  &:hover {
    .v-expansion-panel-title__overlay {
      background-color: var(--btn-primary-hover);
    }
  }

  .v-expansion-panel-title {
    line-height: 1.5 !important;
    font-size: 16px !important;
    padding-left: 12px !important;
  }

  .v-expansion-panel-text {
    border-bottom: 2px solid var(--btn-primary);
  }
}

.archive-card {
  .v-expansion-panel {
    .v-expansion-panel-title {
      line-height: 1.5 !important;
      font-size: 16px !important;
      padding-left: 30px !important;
      padding-right: 30px !important;
      height: 71px;
      border: 1px solid var(--border);
    }

    .v-expansion-panel-text {
      border-bottom: 2px solid var(--btn-primary);
    }
  }
}

.picker {
  position: relative;

  .emoji-mart {
    position: absolute !important;
    z-index: 9999 !important;
    bottom: 50px !important;
  }
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    transition: all 0.5s ease-in-out;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #06b9c6;
    border-radius: 50px;

    &:hover {
      background: #058b94;
    }
  }
}
